In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
dd = pd.read_csv('blat_splint.psl', sep='\t', header=0)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
dd = dd.rename(index=str, columns={'mis- ': 'mismatch', 'rep. ': 'repmatch', 'Q gap':"Q gap count", "Q gap.1":"Q gap bases",
                             "T gap":"T gap count", "T gap.1":"T gap bases", "Q        ":"Q name", 
                             "Q   ":"Q size", "Q    ":"Q start", "Q  ":"Q end", "T        ":"T name",
                             "T   ":"T size", "T    ":"T start", "T  ":"T end", "block":"block count",
                             "blockSizes ":"blockSizes", ' tStarts':'tStarts'})

In [8]:
dd = dd.drop(dd.index[[0]])
dd = dd.reset_index()
dd[['index','match','mismatch','repmatch',"N's",'Q gap count','Q gap bases','T gap count','T gap bases','Q size',
    'Q start','Q end','T size','T start','T end','block count']] = dd[['index','match','mismatch','repmatch',"N's",'Q gap count','Q gap bases','T gap count','T gap bases','Q size',
    'Q start','Q end','T size','T start','T end','block count']].astype(int)

In [9]:
print(dd.shape)
dd.head()

(277893, 22)

,index,match,mismatch,repmatch,N's,Q gap count,Q gap bases,T gap count,T gap bases,strand,...,Q start,Q end,T name,T size,T start,T end,block count,blockSizes,qStarts,tStarts
0,1,135,1,0,0,1,5,2,8,+,...,0,141,Lambda_RC,284,140,284,3,"17,73,46,","0,22,95,","140,164,238,"
1,2,46,0,0,0,0,0,0,0,+,...,472,518,Lambda_RC,284,4,50,1,"46,","472,","4,"
2,3,135,1,0,0,1,5,2,8,-,...,0,141,Lambda,284,0,144,3,"51,68,17,","474,525,598,","0,52,127,"
3,4,46,0,0,0,0,0,0,0,-,...,472,518,Lambda,284,234,280,1,"46,","97,","234,"
4,5,133,1,0,0,2,2,1,1,+,...,0,136,Lambda_RC,284,149,284,4,"75,8,7,44,","0,76,84,92,","149,224,233,240,"

Get the ration of each splint

In [20]:
from collections import Counter
c = Counter(dd['T name'])

In [23]:
print("Lambda: " + str(c['Lambda']/dd.shape[0]) + '\n' + 
      "Lambda_RC: " + str(c['Lambda_RC']/dd.shape[0]) + '\n' + 
      "hairpin_P5: " + str(c['hairpin_P5']/dd.shape[0]) + '\n' + 
      "hairpin_P5_RC: " + str(c['hairpin_P5_RC']/dd.shape[0]) + '\n' + 
      "hairpin_geneAmp: " + str(c['hairpin_geneAmp']/dd.shape[0]) + '\n' + 
      "hairpin_geneAmp_RC: " + str(c['hairpin_geneAmp_RC']/dd.shape[0]) + '\n')

Lambda: 0.4814766834716959
Lambda_RC: 0.48105205960567554
hairpin_P5: 0.008197399718596727
hairpin_P5_RC: 0.008254975836023217
hairpin_geneAmp: 0.01037089815144678
hairpin_geneAmp_RC: 0.01064798321656177